.header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: #fff;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);

}
.h-nav{
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
    background-color:#fff;
}
.div-menu{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    background-color:#fff;
    padding: 0 12px;
}
.menu-right{
    margin-left: auto !important;
    margin-top: 5px;
}

.el-menu--horizontal>.el-menu-item{
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0 16px;
}

.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 1px solid #409EFF;
}
.el-menu.el-menu--horizontal {
    border-bottom: 0;
}
.el-menu-item:hover{
      color: #495057;
      border-bottom: 1px solid #495057;
}
.header-brand-img {
    height: 2rem;
    line-height: 2rem;
    vertical-align: bottom;
    margin-right: .5rem;
    width: auto;
}
.a-btn{
    display:inline-block;
    font-size: 0.75rem;
    min-width: 1.625rem;
    color: #467fcf;
    border: 1px solid #467fcf;
    padding: 0.25rem 0.5rem;
    line-height: 1.33333333;
    border-radius: 3px;
    transition: 0.15s ease-in-out;
}
.a-btn:hover{
  color: #fff;
  background-color: #467fcf;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
.header-user{
    display: flex !important;
    margin-left: auto !important;
}

.el-menu--horizontal>.m-item-first{
  margin-left: 0;
}

.d-block {
    display: block !important;
    color: #9aa0ac !important;
}
.avater-1{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  background: #ced4da no-repeat center/cover;
}

.uu{
  display:inline-block;
  margin-left: 5px;
}

.link-home{
  margin-top: 5px;
  margin-right: 25px;
}
 .dropd-msg{
  margin-top: 8px;
  margin-right: 25px;
 }
.d-flex{
  height: 34px;
}

.inp-search>.el-input__inner{
  width: 278px;
  height: 36px;
  line-height: 36px;
}
.card-h-icon{
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #f5f7fb;
}
