<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linshuer.web03.admin.mapper.UserMapper">
    <!-- 查询所有 -->
    <select id="findAll" resultType="com.linshuer.web03.admin.entity.User">
        SELECT * FROM tb_user
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" resultType="com.linshuer.web03.admin.entity.User" parameterType="Long">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>

    <!-- 创建 -->
    <insert id="create" parameterType="com.linshuer.web03.admin.entity.User">
        INSERT INTO tb_user(username, password) VALUES (#{username}, #{password})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="com.linshuer.web03.admin.entity.User">
        UPDATE tb_user SET
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="nickname != null">
            nickname = #{nickname},
        </if>
        <if test="sign != null">
            sign = #{sign},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="avatar != null">
            avatar = #{avatar},
        </if>
        <if test="background != null">
            background = #{background}
        </if>
        WHERE id = #{id}
    </update>
    <!--根据名字查询-->
    <select id="findByName" resultType="com.linshuer.web03.admin.entity.User" parameterType="String">
        SELECT * FROM tb_user WHERE username = #{username}
    </select>
</mapper>
